<!----------------------------------- Footer section------------  -->


<footer class=" text-light text-center text-lg-start" id="Footer">
    <div class="container p-4">
        <div class="row">
            <!-- Company Name Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-flex flex-column">
                <h5 class="text-uppercase">Paradise Communications</h5>

            </div>
            <!-- Names Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-flex flex-column">
                <h5 class="text-uppercase">Names</h5>
                <ul class="list-unstyled mb-0">
                    <li><a asp-action="Index" class="text-reset">Home</a></li>
                    <li><a asp-action="About" class="text-reset">About</a></li>

                    <li><a asp-action="Medicare" class="text-reset">Medicare </a></li>
                    <li><a asp-action="Contact" class="text-reset">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-flex flex-column">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-home me-3"></i>78 Decker Road, Sheridan, WY 82801 </li>
                    <li><i class="fas fa-envelope me-3"></i> info@paradisecommunications.co</li>
                    <li><i class="fas fa-phone me-3"></i>(877) 678-4083 </li>
                    
                </ul>
            </div>
        </div>
    </div>

</footer>