@using Paradise.Areas.Admin.Models
@using Paradise.Models.FormModels
@model PaginatedList<AutoInsurance>

@{
    ViewData["Title"] = "Auto Insurance";
    ViewBag.Caption = "Auto Insurance Forms";
    string view = "AutoInsurance";
    int pageSize = ViewBag.pageSize;
}
<input hidden id="url" value="@Url.Action("AutoInsuranceFilters","Admin")" />

<div style="margin:50px 10px; overflow:hidden; background-color:#f7f7f7; border:1px solid white; padding: 20px;">

    @Html.Partial("_Filters")
    
    <div id="partial-view-table">

        @Html.Partial("_AutoInsuranceTable", Model)
   
    </div>
</div>

