<div class="welcome-container">
    <h2 style="margin:30px;">Welcome to Your Admin Dashboard</h2>
    <p>To get started, click on any of the menu items on the left to view and filter user-submitted forms. If you need to update your account details or change your password, please head over to the Account Settings section.</p>
</div>
