@using Paradise.Areas.Admin.Models
@using Paradise.Models.FormModels
@model PaginatedList<ContactUs>
@{
    ViewData["Title"] = "Contact Us";
    ViewBag.Caption = "Contact Us Forms";
}
<div style="margin:50px 10px; overflow:hidden; background-color:#f7f7f7; border:1px solid white; padding: 20px;">

    <form id="medicareFiltersForm">

        <div style="display: flex; align-items: center; gap: 10px; margin:10px">
            <div style="display: flex; flex-direction: row;justify-content:space-between width: 100%;">
                <input class="form-control" placeholder="Search by Phone" id="phone" name="phone" style="margin-right: 10px; width: 70%;" />
                <button class="custom-button" type="button" id="search">Search</button>
            </div>
            <button class="custom-button" type="button" id="clear">Clear Filters</button>
        </div>
    </form>

    <div style="display: flex; align-items: center; margin: 0;">
        <label for="pageSize" style="margin-right: 10px;">Items per page:</label>
        <select style="max-width:70px; display: inline-block;" id="size" class="form-control">
            <option value="">@ViewBag.pageSize</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="0">Show All</option>
        </select>
    </div>



    <div id="medicare-table">

        @Html.Partial("_ContactUsTable", Model)
    </div>
</div>
@section Scripts {
    <script>
        $(document).on('click', '.page-link, #filterButton,#search', function (e) {
            e.preventDefault();
            const page = $(this).data('page') || 1; 
            callAjax(page);
        });
        $(document).on('click', '#clear', function (e) {
            e.preventDefault();
            $('#name').val('');
            $('#email').val('');
            $('#phone').val('');
            $('#size').val('');
            callAjax(1);
        });
        $('#size').change(function () {
            callAjax();

        });

        function callAjax(page) {

            const name = $('#name').val();
            const email = $('#email').val();
            const dob = $('#dob').val();
            const phone = $('#phone').val();
            const token = $('#token').val();
            const size = $('#size').val();

            $.ajax({
                url: '@Url.Action("ContactFilters", "Admin")',
                type: 'POST',
                data: {
                    name,
                    email,
                    phone,
                    dateTime: dob,
                    token,
                    pageNumber: page,
                    pageSize: size,

                },
                success: function (response) {
                    $('#medicare-table').html(response);
                },
                error: function (xhr) {
                    console.error("Error loading page: ", xhr);
                }
            });
        }
    </script>

}
